<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>
        <% if (typeof title !== "undefined" && title !== "Login" && title !== "Register" && title !== "Error" && title !== "Account Management" && title !== "Update Account" && title !== "Inventory Management" && title !== "Page Not Found") { %>
            <%- include("../partials/topbar") %>
        <% } %>

        <main>
            <%- body %>
        </main>

        <%- include('../partials/footer') %>
    </div>
</body>
</html>
